<!-- Add content here, remove div below -->
<div class="flex items-center justify-center border-4 border-dashed rounded border-base-300 h-96">
  <h2 class="text-6xl text-base-300">Build your app here</h2>
</div>
