<h2 class="aligncenter">
  Follow the link to join the team
</h2>

<%= content_tag(:p, "Please use the following link to join") %>

<p class="aligncenter">
  <%= link "Click to join", to: @url, class: "btn-primary" %>
</p>

<%= content_tag(:p, "You can disregard this email if you think it was sent to you by mistake.") %>
