<%= assigns[:title] %>

================================

<%= @inner_content %>

================================
Copyright <%= DateTime.utc_now.year %> <%= company_name() %>. All rights reserved.
<%= company_name() %>
<%= address() %>
<%= zip() %> <%= city() %>
