<!DOCTYPE html>
<html data-theme="light" lang="en" class="h-full">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || app_name(), suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="flex flex-col pt-24 _h-full bg-base-100 text-base-content">
    <header class="fixed top-0 left-0 right-0 z-30 w-full px-2 py-4 bg-base-100 bg-opacity-75 sm:px-4">
      <div class="container flex items-center justify-between mx-auto">
        <%= link to: Routes.page_path(@conn, :index), class: "flex items-center" do %>
          <svg class="w-10 h-10 p-2 text-white rounded-full bg-primary" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
          </svg>
          <span class="ml-3 text-2xl font-semibold"><%= app_name() %></span>
        <% end %>
        <div class="flex items-center space-x-1">
          <div class="hidden md:inline-flex">
            <%= render "_user_menu.html", Map.put(assigns, :view_mode, :desktop) %>
          </div>

          <div class="inline-flex md:hidden" x-data="{ open: false }">
            <button class="flex-none px-2 btn btn-link btn-sm" @click="open = true">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
              </svg>
              <span class="sr-only">Open Menu</span>
            </button>
            <div class="absolute top-0 left-0 right-0 z-50 flex flex-col p-2 pb-4 m-2 border rounded shadow-xl border-base-content border-opacity-20 bg-base-100 space-y-3" x-show.transition="open" @click.away="open = false" x-cloak>
              <button class="self-end flex-none px-2 ml-2 btn btn-link btn-icon" @click="open = false">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                  <line x1="18" y1="6" x2="6" y2="18"></line>
                  <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
                <span class="sr-only">Close Menu</span>
              </button>
              <%= render "_user_menu.html", Map.put(assigns, :view_mode, :mobile) %>
            </div>
          </div>
        </div>
      </div>
    </header>

    <%= @inner_content %>

    <footer class="">
      <div class="container flex flex-col items-center py-8 mx-auto sm:flex-row">
        <a class="flex items-center justify-center md:justify-start">
          <svg class="w-10 h-10 p-2 text-white rounded-full bg-primary" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
          </svg>
          <span class="ml-3 text-2xl font-semibold"><%= app_name() %></span>
        </a>
        <p class="mt-4 text-sm sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-base-content sm:border-opacity-20 sm:py-2 sm:mt-0">
          &copy; Copyright <%= DateTime.utc_now.year %> <%= company_name() %>
        </p>
        <span class="inline-flex justify-center mt-4 sm:ml-auto sm:mt-0 sm:justify-start">
          <a class="text-base-content text-opacity-60">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-base-content text-opacity-60">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-base-content text-opacity-60">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
          </a>
          <a class="ml-3 text-base-content text-opacity-60">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
              <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </footer>
    <%= live_render @conn, LinkBuilderWeb.FlashLive, session: %{"info" => get_flash(@conn, :info), "error" => get_flash(@conn, :error)} %>
  </body>
</html>
